version: '2.1'
services:
  mariadb:
    image: mariadb:10.2.10
    ports:
      - ${MariaDB_PORT}:3306/tcp
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - /Users/aaaa/con_volumes/mariadb/data:/var/lib/mysql
      - /Users/aaaa/con_volumes/mariadb/conf.d:/etc/mysql/conf.d